<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="images/favicon.ico" />

    <script src="https://kit.fontawesome.com/21b84ee89a.js" crossorigin="anonymous"></script>

    <title>Admin Panel - Change Password</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <div class="container form-login">
        <div class="col-md-4 mx-auto">

            <!-- CHANGE PW FORM -->
            <form th:action="@{/admin/users/changePassword(userId=${user.getId()})}" th:object="${user}" method="POST">

                <h1 class="h3 mb-3 fw-normal">Change User Password</h1>

                <!-- USERNAME -->
                <div class="form-group">
                    <label for="password">Username</label>
                    <input type="text" class="form-control" id="username"
                           th:value="*{username}" readonly>
                </div>

                <!-- PASSWORD INPUT -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password"
                           placeholder="New Password">
                    <span class="has-error text-danger" th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}"></span>
                </div>

                <br/>
                <!-- CONFIRM BUTTON -->
                <button class="w-100 btn btn-lg btn-primary" type="submit"><i
                        class="fa-solid fa-key"></i>&nbsp;Change Password
                </button>
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

